body{
    
    background-image: url(./img/OIP.jpeg); /* Replace with the path to your background image */
   
}
h1{
    font-family :Arial;
    color:brown;
    font-size: 36px;
}
p{
    border:2px solid blue;
    margin :25px 50px ;
    padding: 25px 50px  75px ;
}
